<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- Declare ComponentActivity so Robolectric Compose UI tests can launch it -->
    <application>
        <activity
            android:name="androidx.activity.ComponentActivity"
            android:exported="true" />
    </application>
</manifest>
